.main-navbar-container {
  margin-top: 1%;
  margin-bottom: 1%;
}

.developer-nav-link {
  text-decoration: none;
  margin-right: 10px;
  color: black;
}

.developer-nav-link:not(.developer-selected)::before,
.developer-nav-link:not(.developer-selected)::after {
  content: "";
  display: block;
  height: 3px;
  background-color: transparent; /* Set initial color to transparent */
  position: absolute;
  bottom: -5px;
  left: 50%;
  right: 50%; /* Start from the center */
  transition: all 0.3s ease-out; /* Add a transition effect for width and color */
  width: 0; /* Set initial width to 0 */
}

.developer-nav-link:not(.developer-selected):hover::before,
.developer-nav-link:not(.developer-selected):hover::after {
  background-color: #a2cacb; /* Change color on hover */
  width: 100%; /* Increase width on hover */
  left: 0%; /* Move the left side to the center on hover */
  right: 0; /* Move the right side to the end on hover */
}

.developer-selected {
  color: #469697;
  font-weight: bolder;
}

.developer-selected::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #a2cacb;
  position: absolute;
  bottom: -5px;
  left: 25%;
  right: 0;
  transition: width 0.3s ease-out; /* Adjusted transition property */
  width: 50%; /* Set initial width to 0 */
}
