/* src/css/FindAssetsPage.css */
.find-assets-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.find-assets-body {
  display: flex;
  flex-grow: 1;
}

.left-container {
  width: 30%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 80px;
}

.search-box,
.filter-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.search-box input,
.filter-box input {
  flex-grow: 1;
  border: 1px solid #E5E3E4;
  background-color: #E5E3E4;
  border-radius: 5px;
  padding: 10px 10px 10px 40px;
  font-size: 16px;
}

.search-box input::placeholder,
.filter-box input::placeholder {
  color: gray;
}

.custom-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.filters-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #E5E3E4;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.filters-button .button-text {
  font-size: 16px;
  flex-grow: 1;
}

.arrow {
  font-size: 20px;
  margin-left: 5px;
}

.right-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}
