/* Footer CSS */
.footer {
  background-color: #ddbeaa;
  padding: 20px;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  position: relative;
}

.footer-link {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}