/* src/css/SellPage.css */
.sell-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sell-content {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 columns */
  grid-gap: 20px; /* Spacing between fields */
  padding: 20px;
}

.form-content {
  display: contents; /* Ensures that child elements follow the grid of the parent */
}

.input-group {
  display: flex;
  flex-direction: column; /* Align label and input vertically */
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px; /* Space between label and input */
  font-weight: bold;
}

.sell-input {
  height: 35px; /* Increased input height for better click area */
  padding: 5px 10px;
  border: 2px solid #eadec4;
  border-radius: 2px;
}

.price-estimator-btn {
  grid-column: span 4; /* Span across all columns */
  background-color: #eadec4;
  color: #469697;
  padding: 15px 50px; /* Adjusted padding */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  margin: 20px auto; /* Center the button */
  display: block;
}

.price-results {
  display: flex;
  justify-content: space-around;
  grid-column: span 4; /* Span across all columns */
}

.price-field {
  width: 30%; /* Adjusted width for the price fields */
  padding: 10px;
  border: 2px solid #eadec4;
  border-radius: 2px;
  text-align: center;
}

.image-container2 {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  border-radius: 10px;
  background-image: url("/public/Sell-Image.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.model-toggle {
  grid-column: span 4; /* Span across all columns */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.model-toggle label {
  margin-right: 20px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.model-toggle input[type="radio"] {
  margin-right: 5px;
  accent-color: #469697; /* Set the color of the radio button */
}
