/* src/css/SignUpPage.css */
.signUpLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff; /* Light background color for the page */
}

.signUpContentContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpContent {
  width: 400px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out; /* Add a subtle transform effect */
}

.signUpContent:hover {
  transform: translateY(-5px); /* Slightly move up on hover */
}

.formGroup {
  margin-bottom: 20px; /* Increased margin for better spacing */
}

.formGroup label {
  display: block;
  margin-bottom: 8px; /* Increased space between label and input */
  font-weight: bold;
  font-size: 14px; /* Increased font size for better readability */
}

.formGroup input {
  width: 100%;
  padding: 12px; /* Increased padding for larger input fields */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 16px; /* Larger font size for input text */
}

button {
  width: 100%;
  padding: 12px; /* Increased padding for the button */
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px; /* Larger font size for button text */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

button:hover {
  background-color: #218838;
}

.googleSignUp {
  background-color: #DB4437;
  margin-top: 10px;
}

.googleSignUp:hover {
  background-color: #C33D2E;
}

p {
  margin-top: 20px; /* Increased margin-top for better spacing */
  text-align: center;
  font-size: 14px; /* Increased font size for the paragraph text */
}

p a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color transition */
}

p a:hover {
  color: #0056b3; /* Darker blue on hover */
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}


